<?xml version="1.0"	 encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexaoSQL" connectionString="Data Source=127.0.0.1; Initial Catalog=dbGaragem; User Id=SA; Password=SqlServer2019!;TrustServerCertificate=True"/>
		<add name="JSONFileOutput" connectionString="C:\5by5\car_list.json"/>
	</connectionStrings>
</configuration>